html {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
}
body {
  background-image: url("https://scontent.fphx1-2.fna.fbcdn.net/v/t1.0-9/20106729_10154681764541820_2839143726825500366_n.jpg?oh=159d1090b2ef88e07566c2464b43eaa1&oe=59F671EC");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 550px;
  
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}
img {
  width: 90%;
  height: 250px;
  margin: 0px 5% 0px 5%;
  border: 4px groove grey;
}
#result {
  font-size: 1.75em;
  font-weight: bold;
  width: 60%;
  margin: 0px auto;
}
div {
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
h1 {
  margin-left: 25px;
}
